.logo {
    width: 12%;

}

.navbar {

    padding: .0rem 1rem !important;
}

.navbar-toggler {
    margin-left: auto !important;
}

.form-control {

    padding: 1.8rem .75rem;

}

li:hover {
    transform: scale(1.15);

}

.select-height {
    height: 58px !important;
}

.h-100 {
    height: 87vh !important;
}

.margin-70 {
    margin-top: 36px;

}

.size-100 {

    font-size: 7vh;
    padding: 5vh;
}

.name-brainster {
    font-size: 70px;
    letter-spacing: 3px;
}

.shadow {
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.05) !important;
}

.bold {
    font-weight: bold;
}

.linkovi p:hover {
    cursor: pointer;

}

.required {
    color: red;
}

.registered {
    color: green;
    font-weight: bold;
}

.border-left {

    border-left: 1px solid gray;

}

.radius {
    border-radius: 4px;
}

.margin-bottom {

    margin-bottom: 100px;
}

.btn-red {
    background-color: rgba(255, 19, 0);
    color: white;
}

@media screen and (max-width: 601px) {
    .bottom-margin {
        margin-bottom: 150px;
    }

    @media screen and (min-width: 601px) and (max-width: 767px) {
        .bottom_margin {
            margin-bottom: 130px;
        }

    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {

    .navbar-md-dark {
        background: rgb(32, 32, 34) !important;
        color: rgb(250, 231, 250) !important;
    }

    .text-white {
        color: white !important;
    }

    .forma {
        padding-bottom: 200px;
    }

    .margin100 {
        margin-top: 15px !important;
        margin-bottom: 100vh !important;
    }

    .mobile-none {
        display: none;
    }
}