
body,
html {
    padding: 0;
    margin: 0;
}
.logo {
    width: 12%;
}

li:hover{
    transform: scale(1.15);
    
}

.navbar-toggler {
    margin-left: auto !important;
}

.shadow{
    box-shadow: 0px 8px 7px rgba(0,0,0,0.05) !important;
 }
.navbar {

    padding: .0rem 1rem
}

.name-brainster {
    font-size: 70px;
    letter-spacing: 3px;
}

.bold {
    font-weight: bold;
}

.prv_del_img {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('../img/laptop-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 240px;
    padding-bottom: 200px;
    opacity: 0.9;
}

.label-sm {
   
    margin-bottom: 0 !important;
}

.sm-input:hover {
    background-color: crimson;
    cursor: pointer;

}


.card {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
   
}

.card:hover {
    transform: scale(1.05);
}

.border-left {

    border-left: 1px solid gray;

}

.radius {
    border-radius: 4px;
}

.margin-bottom {

    margin-bottom: 100px;
}

.btn-red {
    margin-left: 110px;
    background-color: rgba(255, 19, 0);
    color: white;
}

.btn-red-form {

    background-color: rgba(255, 19, 0);
    color: white;
}

@media screen and (max-width: 767px) {

    .navbar-md-dark {
        background: rgb(32, 32, 34) !important;
        color: rgb(245, 195, 245) !important;

    }

    .mobile-none {
        display: none;
    }

    .icon-white {
        color: white !important;
    }

    .text-white {
        color: white !important;
    }

    .margin100 {
        margin-top: 15px !important;
        margin-bottom: 100vh !important;
    }
}

.filter-active {
    background-color: crimson;

}